# Kings County Housing Prices

## Pre-EDA and Data Cleaning

### Importing important libraries

In [1]:
# Import important libraries
import pyforest
import folium
%matplotlib inline

# Hide warnings
import warnings
warnings.filterwarnings("ignore")

# Settings
pd.set_option('display.max_columns', None)

### Read the Data

The first step is read the data from a csv file to a Pandas DataFrame.

In [2]:
test = pd.read_csv('../data/kc_house_data_test_features.csv', index_col=0)
df = pd.read_csv('../data/kc_house_data_train.csv', index_col=0)

### EDA Round 1

In [5]:
# Check the shape of the dataframe
print(df.shape)
# Check the first 5 rows of the train dataframe
df.head()

(17290, 21)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,2591820310,20141006T000000,365000.0,4,2.25,2070,8893,2.0,0,0,4,8,2070,0,1986,0,98058,47.4388,-122.162,2390,7700
1,7974200820,20140821T000000,865000.0,5,3.00,2900,6730,1.0,0,0,5,8,1830,1070,1977,0,98115,47.6784,-122.285,2370,6283
2,7701450110,20140815T000000,1038000.0,4,2.50,3770,10893,2.0,0,2,3,11,3770,0,1997,0,98006,47.5646,-122.129,3710,9685
3,9522300010,20150331T000000,1490000.0,3,3.50,4560,14608,2.0,0,2,3,12,4560,0,1990,0,98034,47.6995,-122.228,4050,14226
4,9510861140,20140714T000000,711000.0,3,2.50,2550,5376,2.0,0,0,3,9,2550,0,2004,0,98052,47.6647,-122.083,2250,4050

In [4]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [7]:
# Get information about the data set
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17290 entries, 0 to 17289
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             17290 non-null  int64
 1   date           17290 non-null  object
 2   price          17290 non-null  float64
 3   bedrooms       17290 non-null  int64
 4   bathrooms      17290 non-null  float64
 5   sqft_living    17290 non-null  int64
 6   sqft_lot       17290 non-null  int64
 7   floors         17290 non-null  float64
 8   waterfront     17290 non-null  int64
 9   view           17290 non-null  int64
 10  condition      17290 non-null  int64
 11  grade          17290 non-null  int64
 12  sqft_above     17290 non-null  int64
 13  sqft_basement  17290 non-null  int64
 14  yr_built       17290 non-null  int64
 15  yr_renovated   17290 non-null  int64
 16  zipcode        17290 non-null  int64
 17  lat            17290 non-null  float64
 18  long           17290 non-null  float64
 19  sqft_living15  17290 non-null  int64
 20  sqft_lot15     17290 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 2.9+ MB